[submodule "Libraries/three20"]
	path = Libraries/three20
	url = git://github.com/facebook/three20.git
[submodule "Libraries/MACollectionUtilities"]
	path = Libraries/MACollectionUtilities
	url = https://github.com/mikeash/MACollectionUtilities
